@font-face {
    font-family: "Genshin";
    src: url('./assets/fonts/Genshin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#root {
    font-size: 16px;
    font-family: "Genshin";
  
    /* COLOURS */
    --ivory: #eaecc6;
    --cinnabar: #e94f37;
    --onyx: #393e41;
    --steel-blue: #3f88c5;
    --keppel: #44bba4;

    --light-ivory: #f2fedc;
}

main.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: var(--light-ivory);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 40px;

    border-radius: 8px;
    box-shadow: 0px 8px 50px 3px rgba(153, 153, 153, 0.034);
}

.login-container > h1 {
    margin-bottom: 15px;

    font-weight: 450;
    font-size: 2.5rem;
    color: var(--onyx);
}

.login-container > h4 {
    margin-top: 0px;

    font-weight: 400;
    font-size: 1rem;
    color: red;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form > input {
    margin-bottom: 20px;
    padding: 13px 40px 13px 18px;

    border-radius: 8px;
    border: 1px solid rgba(148, 148, 148, 0.418);

    font-family: "Genshin";
    font-size: 1rem;
    color: var(--onyx);
}

.login-form > button {
    background-color: var(--cinnabar);
    padding: 13px;

    border-radius: 8px;
    border: none;

    font-family: "Genshin";
    font-size: 1rem;
    color: var(--ivory);
    cursor: pointer;
}

.login-form > button:hover {
    background-color: #c93721;
}

.login-container-link {
    margin-top: 30px;

    text-decoration: none;
    color: var(--steel-blue);
}

.login-container-link:hover {
    text-decoration: underline;
}

